@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body{
  min-height: 100vh;
  background-color: #dbe2ef;
}
.bg-mycolor {
  background-color:#3f72af;
  font-family: Days One;
}
.card-title{
  color:#112d4e;
}
.card-body{
  background-color: #f9f7f7;
}